body {
    background-color:rgb(40, 133, 161);
    font-style: bold;
}

h1{
    color:green;
    text-align: center;
    margin-top: 1em;
}

h2{
    color:rgb(126, 223, 199);
    margin-left: .5em;
}

h3{
    color:rgb(222, 224, 102);
    margin-left: .5em;
}
p{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

img{
    width:80%;
    border: 5px solid rgb(57, 117, 165);
    margin-left: 70px;
}


div{
    max-width:700px;
    margin:0 auto;
}

header {
    margin-bottom: 20px;
}


article {
margin-bottom: 40px;
background-color: rgb(130, 101, 156);
}

.parrafo2{
font-style: italic;
}

footer{
    padding-bottom: 20px;
}